@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #dcd7d7;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Poppins', sans-serif;
}
input, textarea {
  font-family: 'Open Sans', sans-serif;
}
input::placeholder {
  color: #6e6a6a;
}
label {
  font-weight: bold;
  font-size: medium;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4cqb;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.username-gradient {
  background: linear-gradient(90deg, #facc15, #fb7185, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

