@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #dcd7d7;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Poppins', sans-serif;
}
input, textarea {
  font-family: 'Open Sans', sans-serif;
}
input::placeholder {
  color: #6e6a6a;
}
label {
  font-weight: bold;
  font-size: medium;
}
